.input {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  padding: 5px 0px;
  font-size: 14px;
  color: black;
  background: transparent;
  transition: border-color 0.2s;
  &::placeholder {
    color: black;
  }
}
.textField {
  display: flex;
  flex-direction: column;
}
.error {
  color: red;
}
